<head>
  <link rel="stylesheet" href="./Resources/css/index.css">
</head>

<body>

<!-- We import the Vue library -->
<script src="https://unpkg.com/vue@3"></script>

<h1><img src="./Resources/images/Pipoca Logo.png " alt="Pipoca">
  BULK PRICE CALCULATOR</h1>  

<!-- this is the template of our content. It looks a lot like HTML (but isn't quite) on purpose. You can learn more about using it with Vue here - https://vuejs.org/guide/essentials/template-syntax.html -->
<div id="app">
  <label for="total_weight">Total Weight</label>
  <input v-model:value="total_weight"
         type="text"
         @keyup.enter="calculate"/>
  
  <label for="container_weight">Container Weight</label>
  <input v-model="container_weight"
         type="text"
         @keyup.enter="calculate"/>

  <label for="net_weight">Net Weight</label>
  <input v-model="net_weight" 
         disabled/>

  <label for="price_100g">Price per 100g</label>
  <input v-model="price_100g" 
         type="text"
         @keyup.enter="calculate"/>

  <label for="evaluated_price">Price to charge (£)</label>
  <input id='total' v-model="evaluated_price"
         disabled/>

  <button @click="calculate">Calculate</button>
  <button @click="reset">Reset</button>
</div>

<script type="module">
  Vue.createApp({
    data() {
      return {
        total_weight: 100,
        container_weight: 20,
        net_weight: 0,
        price_100g: 2,
        evaluated_price: 0,
      }
    },
    methods: {
      calculate() {
        this.net_weight = this.total_weight - this.container_weight;
        this.evaluated_price = (this.net_weight * (this.price_100g / 100)).toFixed(2);
      },
      reset() {
        this.total_weight = 0;
        this.container_weight = 0;
        this.net_weight = 0;
        this.price_100g = 0;
        this.evaluated_price = 0;

        this.$refs.total_weight.focus();
      },
    },
  }).mount('#app')
</script>
</body>